@page "/"
@using CRM.Github
@using CRM.Github.Dtos
@using Volo.Abp.AspNetCore.Components
@inherits AbpComponentBase
@inject GitHubClient GitHubClient

<PageTitle>Home</PageTitle>

<RadzenText TextStyle="TextStyle.DisplayH5" TextAlign="TextAlign.Center">@repository.Description</RadzenText>

<RadzenTabs Change="TabChanged">
    <Tabs>
        <RadzenTabsItem Text="Welcome" >
            @if (CurrentUser is null || !CurrentUser.IsAuthenticated)
            {
                <p>You are not logged in yet, please <RadzenLink Icon="login" Path="/account/login">log in</RadzenLink></p>
            }
            else
            {
                <h1>Hello, <RadzenLink Path="/account/manage#PersonalInfo" Text="@CurrentUser.UserName" /></h1>

                <p>Welcome to your new app.</p>
            }
        </RadzenTabsItem>

        <RadzenTabsItem Text="@($"Stars({repository.StargazersCount})")">
            <RadzenDataList WrapItems="true" AllowPaging="false" IsLoading="@isLoading" Data="@stargazers" TItem="RepositoryStargazerDto">
                <Template Context="stargazer">
                    <RadzenCard Style="width:300px;">
                        <RadzenStack AlignItems="AlignItems.Center" Gap="1rem">
                            <RadzenImage Path="@stargazer.User.AvatarUrl" Style="width: 80px; height: 80px; border-radius: 50%" AlternateText="@stargazer.User.UserName" />
                            <RadzenStack Gap="0">
                                <div class="rz-text-align-center">
                                    <RadzenLink Path="@stargazer.User.HomeUrl" Target="_blank" Text="@stargazer.User.UserName" />
                                </div>
                                <RadzenText TextStyle="TextStyle.Body2" TextAlign="TextAlign.Center">Starred At:@stargazer.StarredAt</RadzenText>
                            </RadzenStack>
                        </RadzenStack>
                    </RadzenCard>
                </Template>
            </RadzenDataList>
            <RadzenPager Density="@Density" HorizontalAlign="HorizontalAlign.Center" Count="@repository.StargazersCount" PageSize="@pageSize" PageNumbersCount="6" PageChanged="@PageChanged" />
        </RadzenTabsItem>

        <RadzenTabsItem Text="@($"Commits({commitCount})")">
            <RadzenDataGrid ColumnWidth="150px" TItem="CommitDto" AllowPaging="true" Style="height:calc(100vh - 160px)"
            IsLoading="isLoading" Count="@commitCount" PageSize="20" Data="@commits" LoadData="@LoadCommits">
                <Columns>
                    <RadzenDataGridColumn Property="@nameof(CommitDto.Committer.AvatarUrl)" Title="Avatar" Sortable="false" Filterable="false" Width="80px">
                        <Template Context="data">
                            <RadzenImage Path="@data.Committer.AvatarUrl" Style="width: 40px; height: 40px; border-radius: 8px;" />
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn Property="@nameof(CommitDto.Commit.Committer.Name)" Title="Name">
                        <Template Context="data">
                            @data.Commit.Committer.Name
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn Property="@nameof(CommitDto.Commit.Message)" Title="Message">
                        <Template Context="data">
                            <RadzenLink Path="@data.HtmlUrl" Target="_blank">@data.Commit.Message</RadzenLink>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn Property="@nameof(CommitDto.Commit.Committer.Date)" Title="Date">
                        <Template Context="data">
                            @data.Commit.Committer.Date.ToLocalTime()
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>

@code {
    Density Density = Density.Compact;
    int pageSize = 12;
    List<RepositoryStargazerDto> stargazers = [];
    List<CommitDto> commits = [];
    RepositoryDto repository = new();
    bool isLoading = true;
    int commitCount = 0;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _ = Task.Run(async () =>
        {
            repository = await GitHubClient.GetRepositoryAsync();
            commitCount = await GitHubClient.GetRepositoryCommitCountAsync();
        });
    }

    async Task PageChanged(PagerEventArgs args)
    {
        await GetStargazersAsync(args.Skip, args.Top);
    }

    async Task GetStargazersAsync(int skip, int take)
    {
        isLoading = true;
        stargazers = await GitHubClient.GetRepositoryStargazersAsync(take, (skip / take) + 1);
        isLoading = false;
    }

    async Task LoadCommits(LoadDataArgs args)
    {
        isLoading = true;
        var skip = args.Skip ?? 0;
        var take = args.Top ?? 20;
        commits = await GitHubClient.GetRepositoryCommitsAsync(take, (skip / take) + 1);
        isLoading = false;
    }

    async Task TabChanged(int index)
    {
        switch(index)
        {
            case 0:
                break;
            case 1:
                if (stargazers.Count <= 0)
                {
                    await GetStargazersAsync(0, pageSize);
                }
                break;
            case 2:
                if (commits.Count <= 0)
                {
                    await LoadCommits(new LoadDataArgs());
                }
                break;
        }
    }
}