@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@using Volo.Abp.Account.Localization
@using Volo.Abp.AspNetCore.Components
@inherits AbpComponentBase
@inject IStringLocalizer<AbpRadzenUIResource> TL
@inject IOptions<AbpRadzenUIOptions> Options

<RadzenHeader>
    <ChildContent>
        <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start" Gap="0px">
            <RadzenColumn Size="5">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                    <RadzenSidebarToggle Click="@MenuToggle" />
                    <span style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@Options.Value.TitleBar.Title</span>
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="7">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End">
                    @if (Options.Value.TitleBar.ShowGithubLink)
                    {
                        <div class="rz-display-none rz-display-sm-inline-flex align-items-center">
                            <RadzenLink Path="https://github.com/ShaoHans/Abp-RadzenUI" Text="GitHub" title="Star Abp-RadzenUI on GitHub" class="rz-text-nowrap rz-mx-2 rz-mx-lg-4" target="_blank" />
                        </div>
                    }
                    <RadzenAppearanceToggle class="rz-mx-2" />
                    <RadzenSidebarToggle Icon="settings" Click="@ThemeToggle" class="rz-m-0" />
                    @if (Options.Value.TitleBar.ShowLanguageMenu)
                    {
                        <LanguageSwitch />
                    }
                    @if (CurrentUser != null && CurrentUser.IsAuthenticated)
                    {
                        <div>
                            <RadzenProfileMenu class="rz-mx-2">
                                <Template>
                                    <RadzenGravatar Email="@CurrentUser.Email" Style="width:24px;height:24px;"></RadzenGravatar>
                                </Template>
                                <ChildContent>
                                    <RadzenProfileMenuItem Text="@CurrentUser.UserName"></RadzenProfileMenuItem>
                                    <Devider />
                                    <RadzenProfileMenuItem Text="@L["MyAccount"]" Icon="person" Path="/account/manage"></RadzenProfileMenuItem>
                                    <RadzenProfileMenuItem Text="@L["LoggedOutTitle"]" Icon="logout" Path="/account/logout"></RadzenProfileMenuItem>
                                </ChildContent>
                            </RadzenProfileMenu>
                        </div>
                    }
                    else
                    {
                        <div class="rz-display-none rz-display-sm-inline-flex align-items-center">
                            <RadzenLink Path="/account/login" Text="@TL["Login"]" class="rz-text-nowrap rz-mx-2 rz-mx-lg-4" />
                        </div>
                    }
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
    </ChildContent>
</RadzenHeader>

@code {
    [Parameter]
    public EventCallback<EventArgs> MenuToggle { get; set; }

    [Parameter]
    public EventCallback<EventArgs> ThemeToggle { get; set; }

    public Header()
    {
        LocalizationResource = typeof(AccountResource);
    }
}
