@using Abp.RadzenUI.UIPlaceHolders
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@using Volo.Abp.Account.Localization
@using Volo.Abp.AspNetCore.Components
@inherits AbpRadzenUIComponentBase
@inject IStringLocalizer<AbpRadzenUIResource> TL

<RadzenHeader>
    <ChildContent>
        <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start" Gap="0px">
            <RadzenColumn Size="5">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                    <RadzenSidebarToggle Click="@MenuToggle" />
                    <span style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@_titleBar.Title</span>
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="7">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End">
                    @if (_titleBar.ShowGithubLink)
                    {
                        <div class="rz-display-none rz-display-sm-inline-flex align-items-center">
                            <RadzenLink Path="https://github.com/ShaoHans/Abp-RadzenUI" Text="GitHub" title="Star Abp-RadzenUI on GitHub" class="rz-text-nowrap rz-mx-2 rz-mx-lg-4" target="_blank" />
                        </div>
                    }
                    <RadzenAppearanceToggle class="rz-mx-2" />
                    <RadzenSidebarToggle Icon="settings" Click="@ThemeToggle" class="rz-m-0" />
                    @if (_titleBar.ShowLanguageMenu)
                    {
                        <LanguageSwitch />
                    }
                    @if (CurrentUser != null && CurrentUser.IsAuthenticated)
                    {
                        <div>
                            <RadzenProfileMenu class="rz-mx-2">
                                <Template>
                                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem" class="rz-me-2">
                                        <RadzenGravatar Email="@CurrentUser.Email" Style="width:24px;height:24px;"></RadzenGravatar>
                                        <RadzenText TextStyle="TextStyle.Body2" class="rz-m-0 rz-display-none rz-display-md-block" Style="line-height: 1; color: inherit;">@CurrentUser.UserName</RadzenText>
                                    </RadzenStack>
                                </Template>
                                <ChildContent>
                                    @* <RadzenProfileMenuItem Text="@CurrentUser.UserName"></RadzenProfileMenuItem>
                                    <Devider /> *@
                                    <RadzenProfileMenuItem Text="@L["MyAccount"]" Icon="person" Path="/account/manage"></RadzenProfileMenuItem>
                                    <RadzenProfileMenuItem Text="@L["LoggedOutTitle"]" Icon="logout" Path="/account/logout"></RadzenProfileMenuItem>
                                </ChildContent>
                            </RadzenProfileMenu>
                        </div>
                    }
                    else
                    {
                        <div class="rz-display-none rz-display-sm-inline-flex align-items-center">
                            <RadzenLink Path="/account/login" Text="@TL["Login"]" class="rz-text-nowrap rz-mx-2 rz-mx-lg-4" />
                        </div>
                    }
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
    </ChildContent>
</RadzenHeader>

@code {
    [Parameter] public EventCallback<EventArgs> MenuToggle { get; set; }
    [Parameter] public EventCallback<EventArgs> ThemeToggle { get; set; }
    [Inject] IUIPlaceHolderResolver UIPlaceHolderResolver { get; set; } = default!;
    TitleBarSettings _titleBar = new();

    public Header()
    {
        LocalizationResource = typeof(AccountResource);
    }

    protected override async Task OnInitializedAsync()
    {
        _titleBar = await UIPlaceHolderResolver.GetTitleBarSettingsAsync();
    }
}
