@using CRM.Enums
@using Volo.Abp.AspNetCore.Components
@inject IProductAppService AppService
@inherits AbpRadzenUIComponentBase

<RadzenTemplateForm TItem="UpdateProductDto" Data=@DialogFromOption.Model Submit=@DialogFromOption.OnSubmit Style="max-height:calc(100vh - 200px); display: flex;flex-direction:column">
    <div style="flex: 1; overflow: auto">
        <RadzenStack Gap="2rem" class="rz-p-4 rz-p-md-12">
            <RadzenRow AlignItems="AlignItems.Center" RowGap="0.25rem">
                <RadzenColumn Size="12" SizeMD="4" class="rz-text-align-start rz-text-align-md-end">
                    <RadzenLabel Text="@L["DisplayName:Code"]" Component="Code" />
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="8">
                    <RadzenTextBox Name="Code" Value="@Code" Style="display: block; width: 100%;" ReadOnly="true" />
                </RadzenColumn>
            </RadzenRow>

            <RadzenRow AlignItems="AlignItems.Center" RowGap="0.25rem">
                <RadzenColumn Size="12" SizeMD="4" class="rz-text-align-start rz-text-align-md-end">
                    <RequiredMark />
                    <RadzenLabel Text="@L["DisplayName:Name"]" Component="Name" />
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="8">
                    <RadzenTextBox Name="Name" @bind-Value=@DialogFromOption.Model.Name Style="display: block; width: 100%;" MaxLength="ProductConsts.MaxNameLength" />
                    <RadzenRequiredValidator Component="Name" Text="@L.Required("DisplayName:Name")" />
                </RadzenColumn>
            </RadzenRow>

            <RadzenRow AlignItems="AlignItems.Center" RowGap="0.25rem">
                <RadzenColumn Size="12" SizeMD="4" class="rz-text-align-start rz-text-align-md-end">
                    <RequiredMark />
                    <RadzenLabel Text="@L["DisplayName:Price"]" Component="Price" />
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="8">
                    <RadzenNumeric TValue="float" Name="Price" @bind-Value=@DialogFromOption.Model.Price Style="display: block; width: 100%;" />
                    <RadzenRequiredValidator Component="Price" Text="@L.Required("DisplayName:Price")" />
                </RadzenColumn>
            </RadzenRow>

            <RadzenRow AlignItems="AlignItems.Center" RowGap="0.25rem">
                <RadzenColumn Size="12" SizeMD="4" class="rz-text-align-start rz-text-align-md-end">
                    <RadzenLabel Text="@L["DisplayName:StockCount"]" Component="StockCount" />
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="8">
                    <RadzenNumeric TValue="int" Name="StockCount" @bind-Value=@DialogFromOption.Model.StockCount Style="display: block; width: 100%;" />
                </RadzenColumn>
            </RadzenRow>

            <RadzenRow AlignItems="AlignItems.Center" RowGap="0.25rem">
                <RadzenColumn Size="12" SizeMD="4" class="rz-text-align-start rz-text-align-md-end">
                    <RadzenLabel Text="@L["DisplayName:Status"]" Component="Status" />
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="8">
                    <RadzenDropDown TValue="string" Value=@DialogFromOption.Model.Status.ToString() Data=@_statues
                                    ValueChanged="args=>ChangeStatus(args)"
                                    Style="width: 100%; max-width: 400px;" Name="Status" />
                </RadzenColumn>
            </RadzenRow>

            <RadzenRow AlignItems="AlignItems.Center" RowGap="0.25rem">
                <RadzenColumn Size="12" SizeMD="4" class="rz-text-align-start rz-text-align-md-end">
                    <RadzenLabel Text="@L["DisplayName:Description"]" Component="Description" />
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="8">
                    <RadzenTextArea Name="Description" @bind-Value=@DialogFromOption.Model.Description Style="display: block; width: 100%;" />
                </RadzenColumn>
            </RadzenRow>

        </RadzenStack>
    </div>
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Right">
        <RadzenButton Icon="cancel" Click="@DialogFromOption.OnCancel" Text="@L["Cancel"]" ButtonStyle="ButtonStyle.Light" />
        <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="@L["Save"]"></RadzenButton>
    </RadzenStack>
</RadzenTemplateForm>

@code {
    [Parameter]
    public DialogFromOption<UpdateProductDto> DialogFromOption { get; set; } = default!;

    [Parameter]
    public string Code { get; set; } = default!;

    IEnumerable<string> _statues = ["OnSale", "OutOfStock", "OutOfShelf", "Deleted"];

    public Edit()
    {
        LocalizationResource = typeof(CRMResource);
    }

    void ChangeStatus(string v)
    {
        DialogFromOption.Model.Status = Enum.Parse<ProductStatus>(v);
    }
}
