@using Abp.RadzenUI.Components.ObjectExtending
@using Microsoft.AspNetCore.Authorization
@using System.Collections.Immutable
@using Volo.Abp.AspNetCore.Components
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.Identity
@using Volo.Abp.Identity.Localization
@using Volo.Abp.Localization
@using Volo.Abp.ObjectExtending
@inject IIdentityUserAppService UserAppService
@inject AbpBlazorMessageLocalizerHelper<IdentityResource> LH
@inherits AbpComponentBase

<RadzenTemplateForm TItem="IdentityUserCreateDto" Data=@DialogFromOption.Model Submit=@DialogFromOption.OnSubmit Style="max-height:500px; display: flex;flex-direction:column">
    <div style="flex: 1; overflow: auto">
        <RadzenStack Gap="2rem" class="rz-p-4 rz-p-md-12">
            <RadzenRow AlignItems="AlignItems.Center" RowGap="0.25rem">
                <RadzenColumn Size="12" SizeMD="4" class="rz-text-align-start rz-text-align-md-end">
                    <RequiredMark />
                    <RadzenLabel Text="@L["DisplayName:UserName"]" Component="RealUserNameField" />
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="8">
                    <!-- Fake field to stop browser autofill -->
                    <input type="text" name="fake_username" autocomplete="username" style="display:none" />
                    <RadzenTextBox Name="RealUserNameField" @bind-Value=@DialogFromOption.Model.UserName Style="display: block; width: 100%;" MaxLength="IdentityUserConsts.MaxUserNameLength" />
                    <RadzenRequiredValidator Component="RealUserNameField" Text="@L.Required("DisplayName:UserName")" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow AlignItems="AlignItems.Center" RowGap="0.25rem">
                <RadzenColumn Size="12" SizeMD="4" class="rz-text-align-start rz-text-align-md-end">
                    <RequiredMark />
                    <RadzenLabel Text="@L["DisplayName:Password"]" Component="RealPasswordField" />
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="8">
                    <!-- Fake field to stop browser autofill -->
                    <input type="password" name="fake_password" autocomplete="new-password" style="display:none" />
                    <RadzenPassword Name="RealPasswordField" @bind-Value=@DialogFromOption.Model.Password Style="display: block; width: 100%;" MaxLength="IdentityUserConsts.MaxPasswordLength" />
                    <RadzenRequiredValidator Component="RealPasswordField" Text="@L.Required("DisplayName:Password")" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow AlignItems="AlignItems.Center" RowGap="0.25rem">
                <RadzenColumn Size="12" SizeMD="4" class="rz-text-align-start rz-text-align-md-end">
                    <RequiredMark />
                    <RadzenLabel Text="@L["DisplayName:Email"]" Component="Email" />
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="8">
                    <RadzenTextBox Name="Email" @bind-Value=@DialogFromOption.Model.Email Style="display: block; width: 100%;" MaxLength="IdentityUserConsts.MaxEmailLength" />
                    <RadzenRequiredValidator Component="Email" Text="@L.Required("DisplayName:Email")" />
                    <RadzenEmailValidator Component="Email" Text="@L["Volo.Abp.Identity:InvalidEmail", DialogFromOption.Model.Email]" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow AlignItems="AlignItems.Center" RowGap="0.25rem">
                <RadzenColumn Size="12" SizeMD="4" class="rz-text-align-start rz-text-align-md-end">
                    <RadzenLabel Text="@L["DisplayName:PhoneNumber"]" Component="PhoneNumber" />
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="8">
                    <RadzenTextBox Name="PhoneNumber" @bind-Value=@DialogFromOption.Model.PhoneNumber Style="display: block; width: 100%;" MaxLength="IdentityUserConsts.MaxPhoneNumberLength" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow AlignItems="AlignItems.Center" RowGap="0.25rem">
                <RadzenColumn Size="12" SizeMD="4" class="rz-text-align-start rz-text-align-md-end">
                    <RadzenLabel Text="@L["DisplayName:IsActive"]" Component="IsActive" />
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="8">
                    <RadzenCheckBox TValue="bool" @bind-Value=@DialogFromOption.Model.IsActive Name="IsActive" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow AlignItems="AlignItems.Center" RowGap="0.25rem">
                <RadzenColumn Size="12" SizeMD="4" class="rz-text-align-start rz-text-align-md-end">
                    <RadzenLabel Text="@L["DisplayName:LockoutEnabled"]" Component="LockoutEnabled" />
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="8">
                    <RadzenCheckBox TValue="bool" @bind-Value=@DialogFromOption.Model.LockoutEnabled Name="LockoutEnabled" />
                </RadzenColumn>
            </RadzenRow>

            <ExtensionProperties TEntityType="IdentityUserCreateDto" TResourceType="IdentityResource" Entity="@DialogFromOption.Model" LH="@LH" />

            @if (HasManagePermissionsPermission)
            {
                <RadzenRow AlignItems="AlignItems.Center" RowGap="0.25rem">
                    <RadzenColumn Size="12" SizeMD="4" class="rz-text-align-start rz-text-align-md-end">
                        <RadzenLabel Text="@L["Roles"]" Component="RoleNames" />
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="8">
                        <RadzenDropDown TValue="IEnumerable<string>" Data=@roleNames Name="RoleNames" ValueChanged="RolesChange"
                                        Multiple=true AllowClear=true Placeholder="assign roles" Chips=true Style="width: 100%;" />
                    </RadzenColumn>
                </RadzenRow>
            }
        </RadzenStack>
    </div>
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Right">
        <RadzenButton Icon="cancel" Click="DialogFromOption.OnCancel" Text="@L["Cancel"]" ButtonStyle="ButtonStyle.Light" />
        <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="@L["Save"]"></RadzenButton>
    </RadzenStack>
</RadzenTemplateForm>

@code {
    [Parameter]
    public DialogFromOption<IdentityUserCreateDto> DialogFromOption { get; set; } = default!;
    [Inject]
    public IServiceProvider ServiceProvider { get; set; } = default!;
    public ImmutableList<ObjectExtensionPropertyInfo> Properties { get; set; } = ImmutableList<ObjectExtensionPropertyInfo>.Empty;


    protected bool HasManagePermissionsPermission { get; set; }

    IList<string> roleNames = [];

    public Create()
    {
        LocalizationResource = typeof(IdentityResource);
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Properties = await ObjectExtensionManager.Instance.GetPropertiesAndCheckPolicyAsync<IdentityUserCreateDto>(ServiceProvider);

        HasManagePermissionsPermission = await AuthorizationService.IsGrantedAsync(
            IdentityPermissions.Users.ManagePermissions
        );

        roleNames = (await UserAppService.GetAssignableRolesAsync())
            .Items?.Select(r => r.Name).ToArray()
            ?? [];
    }

    void RolesChange(IEnumerable<string> values)
    {
        DialogFromOption.Model.RoleNames = values is null ? [] : values.ToArray();
    }
}